  name: Build and Deploy Super Market App

  on:
    push:
      branches:
        - main


  jobs:
    build-deploy:
      name: Build and Deploy Super Market app
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup JDK 21
          uses: actions/setup-java@v4
          with:
            distribution: 'corretto'
            java-version: 21

        - name: Unit Tests
          run: mvn -B test --file pom.xml

        - name: Build the application
          run : |
            mvn clean
            mvn -B package --file pom.xml

        - name: Build Docker Image
          uses: actions/build-push-action@v2
          with:
            context: .
            dockerfile: Dockerfile
            push: false
            tags: ${{ secrets.DOCKER_USERNAME }}/SuperMarketWithDb:$(date-%Y-%m-%d%H-%M-%S)
        - name: Login to Docker Hub
          uses: docker/login-action@v1
          with:
            username: ${{secrets.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_ACCESS_TOKEN}}
        - name: Push to Docker Hub
          uses: actions/build-push-action@v2
          with:
            context: .
            dockerfile: Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/SuperMarketWithDb:$(date-%Y-%m-%d%H-%M-%S)

            



